@using SonProje.Data.Entity
@model Login
<!DOCTYPE html>
<html lang="tr">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/deneme.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Giriş</title>
</head>
<body>
    @Html.ValidationSummary()
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">

                <img src="~/Content/img/indir.png" />
            </div>
            <!-- Login Form -->
            @using (Html.BeginForm())
            {
                <label>User Name: </label>
                @Html.EditorFor(model => model.KullaniciAdi, new { @class = "fadeIn second", @name = "login", @id = "login" })
                @Html.ValidationMessageFor(model => model.KullaniciAdi)
                <label>Password: </label>
                @Html.EditorFor(model => model.Sifre, new { @class = "fadeIn third", @name = "login", @id = "password" })
                @Html.ValidationMessageFor(model => model.Sifre)
                <input class="fadeIn fourth" type="submit" value="Log In" name="">
            }
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="/Login/SignUp">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>
